
.titulo {
    font-family: 'DM serif display', 'Sans Serif', Times, serif;
    color: #ffffff;
    font-weight: bolder;
}

.formulario{
    font-family: 'Poppins', 'SansSerif', Times, serif;
    color: #ffffff;
    border-radius: 0.625rem;
}
.form-control1{
    background-color: rgba(250,250,250,0.6);
    border: 0.06rem solid rgba(134, 47, 47, 1);
    border-radius: 3.125rem;
}
.form-label{
    font-family: 'Poppins', 'SansSerif', Times, serif;
    color: #ffffff;
    letter-spacing: 0;
}
.btncontinuar{
    background-color: rgba(134, 47, 47, 1);
    border-radius: 3.125rem;
    font-family: 'Poppins', 'SansSerif', Times, serif;
    color: #ffffff;
    text-decoration: none;
}
.btncancelar{
    background-color: rgb(255, 255, 255,1);
    border-radius: 3.125rem;
    font-family: 'Poppins', 'SansSerif', Times, serif;
    color: rgba(134, 47, 47, 1);
    text-decoration: none;
}
.progress-bar{
    color: rgba(250,250,250,0.6);
    background-color: rgba(134, 47, 47, 1);
}