body.is-transitioned {
	animation: fade-in 2s forwards;
	background-color: rgba(0,0,0,0.25);
	opacity: 0;
	transform: translateY(2vh);
}
.bg-custom-color {
	background-color: rgba(134.00000721216202, 47.0000009983778, 47.0000009983778, 1);
}

.texto-titulo {
	font-family: 'DM serif display', 'Sans Serif', Times, serif;
	color: rgba(239, 233, 206, 1);
}
.texto-subtitulo{
	font-family: 'DM serif display', 'Sans Serif', Times, serif;
	color: rgb(255, 255, 255);
	font-weight: lighter;
}
.btncontinuar{
	background-color: rgba(134, 47, 47, 0);
	border-radius: 3.125rem;
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: #ffffff;
	letter-spacing: 0;
	text-decoration: none;
	border-color: #ffffff;
}
.btniniciar{
	background-color: rgb(134, 47, 47,1);
	border-radius: 3.125rem;
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}
.btncancelarr{
	background-color: rgb(255, 255, 255,1);
	border-radius: 3.125rem;
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: rgba(134, 47, 47, 1);
	text-decoration: none;
}
.modal-content{
	background-color: rgb(239, 233, 206);
}
.texto-inicio{
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: rgba(0, 0, 0, 1);
	font-weight: lighter;
}
.btnregistrar{
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: #ffffff;
}
@keyframes fade-in{
	from{
		background-color: rgba(0,0,0,0.25);
		opacity: 0;
		transform: translateY(2vh);
	}
	to{
		background-color: rgba(0,0,0,0);
		opacity: 1;
		transform: translateY(0);
	}

}

