
.bg-custom-color {
	background-color: rgba(134.00000721216202, 47.0000009983778, 47.0000009983778, 1);
}
.letras {
	color: rgba(255, 255, 255, 1);
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	letter-spacing: 0;
	font-size: 1.875rem;
	font-weight: normal;
	text-decoration: none;
	width: 9.625rem;
	height: 2.5rem;
}

.background-image {
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center;
	height: 100%;
}

.logo {
	display: inline-flex;
}

.logo-svg {
	width: 4rem;
	height: 4rem;
	fill: white;
	margin-right: 0.625rem;
	position: relative;
}
.logo-text {
	color: rgba(134.00000721216202, 47.0000009983778, 47.0000009983778, 1);
	font-size: 2rem;
	margin: 0;
	line-height: 1;
	width: 2.5rem;
	height: 2.5rem;
}
.texto-titulo {
	font-family: 'DM serif display', 'Sans Serif', Times, serif;
	color: rgba(239, 233, 206, 1);
	height: 385px;
	font-size: 96px;
}
.texto-subtitulo{
	font-family: 'DM serif display', 'Sans Serif', Times, serif;
	color: rgb(255, 255, 255);
	height: 385px;
	font-size: 30px;
	font-weight: lighter;
}
.btncontinuar{
	background-color: rgba(134, 47, 47, 1);
	border-radius: 3.125rem;
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: #ffffff;
	font-size: 2rem;
	letter-spacing: 0;
	line-height: 2.813;
	text-decoration: none;
}
.btniniciar{
	background-color: rgb(134, 47, 47,1);
	border-radius: 3.125rem;
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: rgba(255, 255, 255, 1);
	font-size: 1.875rem;
	letter-spacing: 0;
	line-height: 2.813rem;
	text-decoration: none;
}
.btncancelarr{
	background-color: rgb(255, 255, 255,1);
	border-radius: 3.125rem;
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: rgba(134, 47, 47, 1);
	font-size: 1.875rem;
	letter-spacing: 0;
	line-height: 2.813rem;
	text-decoration: none;
}
.modal-content{
	background-color: rgb(239, 233, 206);

}
.texto-inicio{
	font-family: 'Poppins', 'SansSerif', Times, serif;
	color: rgba(0, 0, 0, 1);
	line-height: 2.813rem;
	font-weight: lighter;
	font-size: 1.875rem;
}